
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  gap: 1rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-image {
  background-image: url('assets/image_geometry.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero-title {
  align-self: start;
  font-family: Playfair Display;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 4em;
  line-height: 100%;
  color: #1A2236;
  text-align: left;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  width: 100%;
  text-align: left;
  color: #1A2236;
}

.hero-text-container p {
  margin: 0 1rem;
}

.hero-text {
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: -1%;
  font-size: 1.2em;
  line-height: 150%;
}

.desktop-image {
  display: none;
}

@media (min-width: 769px) {

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 92vh;
    gap: 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  /* .hero-text-container {
    width: 50%;
    padding: 2.5rem;
  } */

  .hero-image {
    width: 50%;
  }

  .hero-title {
    font-family: Playfair Display;
    font-weight: 400;
    letter-spacing: 0%;
    font-size: 5.5em;
    line-height: 100%;
    margin: 0;
    color: #1A2236;
    text-align: left;
    margin-bottom: 1rem;
  }

  .hero-text {
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: -1%;
    font-size: 1.25em;
    line-height: 150%;
    margin: 0;
    color: #1A2236;
    text-align: left;
  }
}