.hamburger-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.nav-container {
    width: 100vw;
    height: 10vh;
    background-image: url('assets/shapes.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: none;
}

@media (min-width: 769px) {
    .nav {
        font-family: Poppins, Arial, sans-serif;
        color: #1A2236;
        width: 100vw;
        height: 8vh;
        display: flex;
        place-items: center;
        justify-content: center;
        border-bottom: #DDDFE6 1px solid;
    }

    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }

    .list_element {
        margin: 0 1rem;
        text-decoration: none;
    }

    .list_element:hover {
        text-decoration: underline;
    }

    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 92vh;
        gap: 1rem;
        max-width: 1440px;
        margin: 0 auto;
    }

    .hero-text-container {
        width: 50%;
        padding: 2.5rem;
    }

    .hero-image {
        width: 50%;
    }

    .hero-title {
        font-family: Playfair Display;
        font-weight: 400;
        letter-spacing: 0%;
        font-size: 5.5em;
        line-height: 100%;
        margin: 0;
        color: #1A2236;
        text-align: left;
        margin-bottom: 1rem;
    }

    .hero-text {
        font-family: Poppins;
        font-weight: 500;
        letter-spacing: -1%;
        font-size: 1.25em;
        line-height: 150%;
        margin: 0;
        color: #1A2236;
        text-align: left;
    }
}