.skillset-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.skillset-card {
    position: relative;
    font-family: inherit;
    padding: 2rem;
    height: 290px;
    overflow: hidden;
}

.skillset-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.skillset-list {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    line-height: 150%;
    position: absolute;
    z-index: 2; 
}

.skillset-icon {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 1;
}