:root {
  font-family: system-ui, PLayfayir Display, Poppins, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 100vw;
  margin: 0;

  /* color-scheme: light dark; */
  color: rgba(26, 34, 54, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  font-family: Poppins, Arial, sans-serif;
  color: #1A2236;
  width: 100vw;
  height: 8vh;
  display: flex;
  place-items: center;
  justify-content: center;
  border-bottom: #DDDFE6 1px solid;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.list_element {
  margin: 0 1rem;
  text-decoration: none;
}

.list_element:hover {
  text-decoration: underline;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
