@font-face {
  font-family: Playfair Display;
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
  font-family: Playfair Display, Poppins, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
  margin: 0;

  /* color-scheme: light dark; */
  color: rgba(26, 34, 54, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: inherit;
  text-decoration: none;
}